<div class="alert_dialog_wrap" fxLayout="column" fxLayoutAlign="space-between center">
	<div class="alert_dialog_title"> 密码确认 </div>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="80">
		<mat-form-field class="w-100">
			<mat-label> 密码 </mat-label>
			<input matInput formControlName="password"
				[type]="passwordHide ? 'password' : 'text'">
			<mat-icon matSuffix (click)="passwordHide = !passwordHide">
				{{passwordHide ? 'visibility' : 'visibility_off'}}
			</mat-icon>
			<mat-error *ngIf="form.controls.password.errors?.required"> 必须填写 </mat-error>
		</mat-form-field>
		<div class="alert_dialog_button_wrap" fxLayout="row">
			<div>
				<button mat-raised-button color="accent" type="submit" > 确认 </button>
			</div>
			<div>
				<button mat-raised-button color="warn" (click)="$event.preventDefault(); close('cancel');"> 取消 </button>
			</div>
		</div>
	</form>
</div>