<div fxLayout="column">
	<div class="flex-p">
		<div fxLayout="row" fxLayoutAlign="space-between center" class="mb-075">
			<form [formGroup]="searchForm" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field class="custom-form-field pb0-form-filed mr-05" appearance="outline">
                    <mat-label> 姓名、卡号或电话号&nbsp;&nbsp;&nbsp; </mat-label>
                    <button mat-icon-button matSuffix (click)="applySearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <input matInput formControlName="keyword" (change)="applySearch()">
                </mat-form-field>   
			</form>
			<div 
				*ngIf="commonData.city.topAdmin == user.id || user.role == 'SUPER'"
				fxLayout="row" fxLayoutAlign="space-between center">
				<button *ngIf="user.role == 'ADMIN'" mat-stroked-button color="primary" class="mr-025" (click)="importFile()">
					导入
				</button>
				<input #fileInput type="file" accept=".xlsx" (change)="import($event)" style="display:none;" />
				<button mat-stroked-button color="primary" class="mr-025" (click)="export('xlsx')">导 出</button>
				<button mat-stroked-button color="primary" (click)="print()">打 印</button>
				<button mat-stroked-button color="primary" class="list-top-btn" (click)="openUserDialog()">添加用户</button>
				<button mat-stroked-button color="accent" class="list-top-btn" (click)="suspendUsers()">黑名单</button>
				<button mat-stroked-button color="warn" class="list-top-btn" (click)="deleteUsers()">删除</button>
			</div>
		</div>
		<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8 w-100"
			(matSortChange)="customSort($event)">
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)">
					</mat-checkbox>
				</td>
			</ng-container>
			<ng-container matColumnDef="index">
				<th mat-header-cell *matHeaderCellDef> No </th>
				<td mat-cell *matCellDef="let element;"> {{element.index + 1}}</td>
			</ng-container>
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> 姓名 </th>
				<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>
			<ng-container matColumnDef="cardIds">
				<th mat-header-cell *matHeaderCellDef> 卡号 </th>
				<td mat-cell *matCellDef="let element"> {{element.cardIds}} </td>
			</ng-container>
			<ng-container matColumnDef="phone">
				<th mat-header-cell *matHeaderCellDef> 电话号 </th>
				<td mat-cell *matCellDef="let element"> {{element.phone}} </td>
			</ng-container>
			<ng-container matColumnDef="totalPoint">
				<th mat-header-cell *matHeaderCellDef> 总积分 </th>
				<td mat-cell *matCellDef="let element">
					{{element.totalPoint | currency:'USD':'':'1.2-2'}}
				</td>
			</ng-container>
			<ng-container matColumnDef="city">
				<th mat-header-cell *matHeaderCellDef> 城市 </th>
				<td mat-cell *matCellDef="let element"> 
					{{element.city? element.city.name : ''}} 
				</td>
			</ng-container>
			<ng-container matColumnDef="address">
				<th mat-header-cell *matHeaderCellDef> 详细地址 </th>
				<td mat-cell *matCellDef="let element">
					{{element.address? element.address: ''}}
				</td>
			</ng-container>
			<ng-container matColumnDef="createdAt">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
				<td mat-cell *matCellDef="let element"> {{element.createdAt | date:"yyyy.MM.dd - HH:mm:ss"}} </td>
			</ng-container>
			<ng-container matColumnDef="state">
				<th mat-header-cell *matHeaderCellDef>
					<div fxLayout="row" fxLayoutAlign="center center"> 黑名单 </div>
				</th>
				<td mat-cell *matCellDef="let element">
					<div fxLayout="row" fxLayoutAlign="center center">
						<mat-icon color="{{element.state == 'SUSPENDED'? 'warn' : 'primary'}}">
							{{element.state == 'SUSPENDED'? 'block' : 'face'}}
						</mat-icon>
					</div>
				</td>
			</ng-container>
			<ng-container matColumnDef="menu">
				<th mat-header-cell *matHeaderCellDef class="text-center"> 操作 </th>
				<td mat-cell *matCellDef="let element" class="text-center">
					<ng-container *ngIf="commonData.city.topAdmin == user.id || user.role == 'SUPER'">
						<button 
							mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
							(click)="$event.stopPropagation()">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
							<span (mouseleave)="menuTrigger.closeMenu()">
								<button mat-menu-item (click)="openUserDialog(element);">
									<mat-icon>edit</mat-icon>
									<span>编辑</span>
								</button>
								<button mat-menu-item routerLink="/users/detail/{{element.id}}">
									<mat-icon>reorder</mat-icon>
									<span>详细信息</span>
								</button>
								<button mat-menu-item (click)="suspendUser($event, element.id, 
									element.state == 'SUSPENDED'? false : true)">
									<mat-icon>{{element.state == 'SUSPENDED'? 'warning' : 'face'}}</mat-icon>
									<span>{{element.state == 'SUSPENDED'? 'Activate' : '黑名单'}}</span>
								</button>
								<button mat-menu-item (click)="deleteUser($event, element.id)">
									<mat-icon>delete</mat-icon>
									<span>删除</span>
								</button>
							</span>
						</mat-menu>
					</ng-container>
				</td>
			</ng-container>
			<ng-container matColumnDef="expandedDetail">
				<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
					<div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
						<div class="member-detail-wrap p-1">
							<div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
								<div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
									<div class="user-img">
										<img [src]="element?.profilePicture? serverUrl+'/'+element.profilePicture:
                                    		'assets/img/extra/user.svg'" class="transition-2 pointer"
											[class.blocked]="element.state == 'SUSPENDED'"
											routerLink="/report/user/{{element.id}}">
										<mat-icon *ngIf="element.state == 'SUSPENDED'" class="warn-color">block</mat-icon>
									</div>
									<span> 
                                        {{element?.name? element.name : '***'}}
									</span>
								</div>
								<div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
									<div fxFlex="30" fxFlex.xs="100" fxLayout="column">
										<p fxLayout="row" fxLayoutAlign="start center">
											<mat-icon class="muted-text">card_membership</mat-icon>
											<span>{{element.cardIds}}</span>
										</p>
										<p fxLayout="row" fxLayoutAlign="start center">
											<mat-icon class="muted-text">call</mat-icon>
											<span>{{element.phone? element.phone : '---'}}</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="commonService.isMediaActive('gt-xs')? displayedColumns: displayedColumnsMobile"></tr>
			<tr mat-row 
				*matRowDef="let element; columns: commonService.isMediaActive('gt-xs')? displayedColumns: displayedColumnsMobile;" 
				class="example-element-row"
				[class.example-expanded-row]="expandedElement === element"
				[style.background]="(element.index % 2)? '#F0F0F0' : ''">
			</tr>
			<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
		</table>
		<mat-paginator #paginator [pageSize]="10" [length]="totalCnt" [pageIndex]="pageIndex"
			[pageSizeOptions]="[10, 20, 50, 100]" [showFirstLastButtons]="true" (page)="getUsers($event)">
		</mat-paginator>
	</div>
</div>